@{
    ViewData["Title"] = "Get Started";
    Layout = "_Layout";
}

<style>
    button {
        align-items: center;
        background-image: linear-gradient(144deg, #af40ff, #5b42f3 50%, #00ddeb);
        border: 0;
        border-radius: 8px;
        box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
        box-sizing: border-box;
        color: #ffffff;
        display: flex;
        font-size: 18px;
        justify-content: center;
        line-height: 1em;
        max-width: 100%;
        min-width: 140px;
        padding: 3px;
        text-decoration: none;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
        white-space: nowrap;
        cursor: pointer;
        transition: all 0.3s;
    }

        button:active,
        button:hover {
            outline: 0;
        }

        button span {
            background-color: rgb(5, 6, 45);
            padding: 1px 50px;
            border-radius: 6px;
            width: 100%;
            height: 100%;
            transition: 300ms;
        }

        button:hover span {
            background: none;
        }

        button:active {
            transform: scale(1);
        }

    .container {
        text-align: center;
        margin-top: 50px;
    }

    .button-container {
        display: flex;
        justify-content: center;
        gap: 20px;
    }

    .admin-container {
        display: flex;
        justify-content: center;
        gap: 20px;
    }
</style>

<div class="container">
    <h1>How will you be joining us?</h1>
    <div class="button-container">
        <button onclick="location.href='@Url.Action("RegisterLearner", "Account")'">
            <span class="text">Learner</span>
        </button>
        <button onclick="location.href='@Url.Action("RegisterInstructor", "Account")'">
            <span class="text">Instructor</span>
        </button>
    </div>
<br />
    <div class="admin-container">
        
        <div class="button-container">
            <button onclick="location.href='@Url.Action("RegisterAdmin", "Account")'">
                <span class="text">Admin</span>
            </button>
        </div>
    </div>
</div>
